html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    background-image: url('../images/yazanBG.webp'), url('../images/yazan.JPG'),url('https://drive.google.com/uc?export=view&id=1hKXsTxMkYURyRSx0mPNtDJOTnIaSFikz') ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}
/* @media only screen and (max-width: 767px) {
    .has-bg-image {

    }
  } */
.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}
.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}
.skill-percentage {
	float: right;
}
.backgroundnav{
    -webkit-box-shadow: 31px 22px 105px 0px rgba(0,0,0,1);
-moz-box-shadow: 31px 22px 105px 0px rgba(0,0,0,1);
box-shadow: inset 31px 22px 105px 0px rgba(0,0,0,1)!important;
}
.lilphoto{
    
        display: block;
        height: auto;
        width: 90% !important;
    
}